.header {
  display: flex;
  height: 4rem;
  padding: 0.8em 1em;
  background-color: black;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  margin: 1em;
}

.logoImg {
}

.title {
}

.searchInput {
  flex-basis: 100%;
  font-size: 1.2rem;
  outline: 0;
}

.searchButton {
  background-color: darkgray;
  outline: 0;
}

.searchButtonImg {
  height: 100%;
  padding: 0.5em 0.2em;
}
